[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/c"]
	path = bundle/c
	url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/Conque-GDB"]
	path = bundle/Conque-GDB
	url = https://github.com/vim-scripts/Conque-GDB.git
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/vim-scripts/go.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
